* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: #F55A5A;
    height: 70px;
    overflow: hidden;
    padding: 20px 36px;
    margin: auto;
    text-align: center;
}

.nav--title {
    color: white;
    padding-left: 10px;
    vertical-align: middle;
}

.bold {
    font-weight: bold;
}

.nav--logo {
    align-items: center;
    height: auto;
    vertical-align: middle;
}

section {
    padding: 20px;
}

.cards-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}

.card {
    width: 100%;
    font-size: 12px;
    /* ADD */
    display: flex;
    /* ADD */
    flex-direction: row;
    /* ADD */
    position: relative;
    padding-bottom: 15px;
    padding-top: 35px;
    align-items: center;
}

.card--image {
    float: left;
    width:  160px;
    height: 185px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 20px;
}

.border{
    width: 700px;
    height: 0px;
    border: 1px solid #F5F5F5;
}

.card--location {
    padding-left: 5px;
    padding-right: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    letter-spacing: 0.17em;

    color: #2B283A;
}

.card--viewOn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    /* identical to box height */

    text-decoration-line: underline;

    color: #918E9B;
}

.location--image {
    max-width: 50%;
}

.card--date {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 10.24px;
    line-height: 12px;
    
    color: #2B283A;
}

/* ADD */
.card--title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #2B283A;
    margin-bottom: 20px;
    margin-top: 8px;
}

.card-details {
    flex-direction: column;
    padding-left: 15px;
    position: relative;
    vertical-align: middle;
    align-items: center;
}

.card--description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    max-width: 40%;
    /* or 15px */


    color: #2B283A;
}